@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=K2D&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Poppins';
  margin: 0;
}

/* NAVBAR */

.Navbar {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e9e9ea;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: visible;
  list-style: none;
  height: 72px;
  z-index: 100;
  width: 100vw;
  position: sticky;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greetings {
  margin-right: 40px;
  font-weight: bold;
}

.nav {
  text-decoration: none;
  color: black;
  position: relative;
}

a.nav.nav-btn {
  margin-right: 40px;
  font-size: 13px;
}

button.nav-btn {
  padding: 10px 30px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 13px;
}

.navlink {
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  position: relative;
}

.navlink:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 43px;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 10px;
}

.navlink:after, .navlink:before {
  transition: all .5s;
}

.navlink:hover {
  color: #555;
}

.navlink:hover:after {
  width: 100%;
}

.auth {
  margin-right: 40px;
}

/* HOME */
/* Header */

.header {
  background-image: url("https://64.media.tumblr.com/8055c71746f3e63377b070388522571b/eef155f6ffd195fa-b1/s2048x3072/a7001904cdd4890f2621c9e712fc3bfbf385b2a5.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness();
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'K2D', sans-serif;
  font-size: 100px;
  color: rgb(39, 38, 38); 
  margin-bottom: 0;
  margin-top: 260px; 
}

.header h5 {
  width: 600px;
  font-size: 18px;
  font-weight: 100;
  margin-top: 0;
  padding-bottom: 100px;
}

.hand-down {
  font-size: 40px;
  margin: 0;
}


/* HOME */
/* Buttons */

.map-btn {
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 9px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.allServices-btn {
  border: 3px solid #4da06f;
  color: #4da06f;
}

.allServices-btn:hover {
  background-color: #76bc66;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.events-btn {
  border: 3px solid #4d4deb;
  color: #4d4deb;
}

.events-btn:hover {
  background-color: #4d4deb;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.groups-btn {
  border: 3px solid #c662fc;
  color: #c662fc;
}

.groups-btn:hover {
  background-color: #c662fc;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.learning-btn {
  border: 3px solid #875bf7;
  color: #875bf7;
}

.learning-btn:hover {
  background-color: #875bf7;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.support-btn {
  border: 3px solid #7d9874;
  color: #7d9874;
}

.support-btn:hover {
  background-color: #7d9874;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.jobs-btn {
  border: 3px solid #ed8515;
  color: #ed8515;
}

.jobs-btn:hover {
  background-color: #ed8515;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.others-btn {
  border: 3px solid #2b8cb6;
  color: #2b8cb6;
}

.others-btn:hover {
  background-color: #2b8cb6;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.pending-btn {
  border: 3px solid #ee5058;
  color: #ee5058;
}

.pending-btn:hover {
  background-color: #ee5058;
  transition: 0.3s ease background;
  color: rgb(39, 38, 38);
}

.list-btn {
  margin-top: 80px;
}

.view {
  color:#555;
  margin-left: 20px;
}

.btn:hover {
  background: #fff;
  color: #6d6c65;
  transition: 0.3s ease background;
}

/* HOME */
/* Map */

.map-services {
  margin-top: 100px;
  margin-bottom: 0;
  font-family: 'K2D', sans-serif;
  font-size: 31px;
}

.map-description {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: 100;
}

.map-marker {
  border: none;
}

/* HOME */
/* Section */

.container-submit {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px;
  padding: 40px;
  border-radius: 10px;
  background-color: #b3c6fb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://64.media.tumblr.com/8055c71746f3e63377b070388522571b/eef155f6ffd195fa-b1/s2048x3072/a7001904cdd4890f2621c9e712fc3bfbf385b2a5.jpg");
  background-position: center;
  background-position-x: 500px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 9px;
}

.send-suggestion {
  margin-bottom: 0;
}

.share-suggestion {
  margin-top: 0;
  font-size: 16px;
  font-weight: 100;
  width: 300px;
}


/* ABOUT */

.about-title {
  margin-top: 100px;
  font-family: 'K2D', sans-serif;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 17px;
}

.mission-detail {
  width: 500px;
  margin-right: 40px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 100px;
}

.about-pic {
  margin-left: 40px;
}

/* SERVICE DETAILS PAGE */

.service-pic {
    height: 150px;
    width: 150px;
    z-index: 10;
    position: absolute;
    align-content: center;
    height: 150px;
    width: 150px;
    z-index: 10;
    position: absolute;
    align-content: center;
    bottom: 400px;
    object-fit: cover;
}

/* THANK YOU PAGE */
/* ERROR */