.App {
  text-align: center;
}

/* NAVBAR */

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}


/* HOME */
/* Header */
/* Buttons */
/* Map */
/* Section (with submission) */

/* ABOUT */

/* ADD FORM */
/* EDIT FORM */

/* SERVICE DETAILS PAGE */

/* THANK YOU PAGE */