@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=K2D&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Poppins';
  margin: 0;
}

/* NAVBAR */

.Navbar {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e8e8e9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  list-style: none;
  height: 70px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greetings {
  margin-right: 40px;
  font-weight: bold;
}

.nav {
  text-decoration: none;
  color: black;
  position: relative;
}

a.nav.nav-btn {
  margin-right: 40px;
}

button.nav-btn {
  padding: 10px 30px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 9px;
}

.navlink {
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  position: relative;
}

.navlink:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 43px;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 10px;
}

.navlink:after, .navlink:before {
  transition: all .5s;
}

.navlink:hover {
  color: #555;
}

.navlink:hover:after {
  width: 100%;
}

.auth {
  margin-right: 40px;
}

/* HOME */
/* Header */

.header {
  background-image: url("https://64.media.tumblr.com/8367c4c759767c07883c243d578ac039/cccd2be1aeca5cb0-af/s2048x3072/d9c8ac8dc7c00f4f518065c745cb3665cc617244.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  filter: brightness();
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'K2D', sans-serif;
  font-size: 80px;
  color: #000; 
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  text-shadow: 0 0 20px #fff, 0 0 30px #d8d8d8, 0 0 60px #ead5df;
}

.header h5 {
  width: 600px;
  font-size: 16px;
  font-weight: 100;
  margin-top: 0;
  text-shadow: 0 0 20px #fff, 0 0 30px #d8d8d8, 0 0 60px #ead5df;
}

/* HOME */
/* Buttons */

.map-btn {
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 9px;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.allServices-btn {
  background-color: #d1e6d7;
  color: black;
}

.events-btn {
  background-color: #c691c2;
  color: black;
}

.groups-btn {
  background-color: #bcbad3;
  color: black;
}

.learning-btn {
  background-color: rgb(40, 134, 134);
  color: black;
}

.support-btn {
  background-color: rgb(64, 106, 106);
  color: black;
}

.jobs-btn {
  background-color: rgb(97, 210, 210);
  color: black;
}

.map-btn:hover {
  background: #fff;
  color: #6d6c65;
  transition: 0.3s ease background;
}

/* HOME */
/* Map */

.map-marker {
  border: none;
}

/* HOME */
/* Section */

.container-submit {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px;
  padding: 40px;
  border-radius: 10px;
  background-color: #d1e6d7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 9px;
}






/* SIGN IN */
/* LOGIN */


/* ABOUT */

.about-title {
  margin-top: 100px;
  font-family: 'K2D', sans-serif;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 17px;
}

.mission-detail {
  width: 500px;
  margin-right: 40px;
  text-align: justify;
  text-justify: inter-word;
}

.about-pic {
  margin-left: 40px;
}

/* ADD FORM */
/* EDIT FORM */

/* SERVICE DETAILS PAGE */

.service-pic {
    height: 150px;
    width: 150px;
    z-index: 10;
    position: absolute;
    align-content: center;
    height: 150px;
    width: 150px;
    z-index: 10;
    position: absolute;
    align-content: center;
    bottom: 410px;
    object-fit: cover;
}

/* THANK YOU PAGE */
/* ERROR */